#abc{
    color: red;
    background-color: skyblue;
}

p{
    color: white;
    background-color:black;
    
}

.ac{
    color: white;
    background-color:darkred;
    font-size:x-large;
}

h6.ac{
    color: lightblue;
    background-color: black;
    
}

p>a{
    font-size: 10px;
    color: blue;
    
    
}